@rendermode InteractiveServer
<!--Att göra: Skapa card layout som komponent för vår collection Todo -->
<div class="card ToDoCard-bg mb-3" style="max-width: 18rem;">
    <div class="bg-secondary card-header">Header</div>
    <div class="ToDoCard-title card-body">
        <h5>@ToDo?.Name</h5>
        <FormCheck isChecked=@(ToDo?.IsCompleted ?? false) />
       
    </div>
</div>

@code {

    [Parameter] public ToDoDto? ToDo { get; set; }
}